{% extends "base.html" %}

{% block content %}

<section class="hero-section">

    <div class="hero-overlay">

        <h4>
            Smart Home
        </h4>

        <h1>

            Household Energy
            Consumption Forecaster

        </h1>

        <p>

            Monitor and forecast household energy consumption
            using Machine Learning and IoT technologies.

        </p>

        <div class="hero-buttons">

            <a
                href="/predict"
                class="btn btn-light">

                Start Prediction

            </a>

            <a
                href="/about"
                class="btn btn-outline-light">

                Learn More

            </a>

        </div>

    </div>

</section>

{% endblock %}