{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow-lg p-4 rounded-4">

                <h2 class="text-center mb-4">

                    Login

                </h2>

                <form
                    action="/login"
                    method="POST">

                    <div class="mb-3">

                        <label class="form-label">

                            Email

                        </label>

                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            required>

                    </div>

                    <div class="mb-3">

                        <label class="form-label">

                            Password

                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            required>

                    </div>

                    <button
                        type="submit"
                        class="btn btn-success w-100">

                        Login

                    </button>

                </form>

                <div class="text-center mt-3">

                    <p>

                        OR

                    </p>

                    <a
                        href="{{ url_for('google_login') }}"
                        class="btn btn-danger w-100">

                        <i class="bi bi-google"></i>

                        Continue with Google

                    </a>

                </div>

                <hr>

                <p class="text-center mt-4">

                    Don't have an account?

                    <a href="{{ url_for('register') }}">

                        Register

                    </a>

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}